/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  overflow: hidden;
}

/* Header Styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #ae0001;
}

.main {
  min-height: 100vh;
  background: url("../images/background_img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  height: 100vh;
}

.home {
  position: relative;
  padding-top: 81px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-align: center;
}

.home-content p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
