/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: #0e0615;
  overflow: hidden;
}

html {
  font-size: 100%;
}

/* Header Styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-bar li {
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ae0001;
}

.main {
  min-height: 100vh;
  background: url("../images/background_img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease;
  pointer-events: auto;
}

main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  padding-top: 81px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-align: center;
}

.home-content p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content .enter-btn {
  width: 190px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
  background: #740001;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #740001;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}

.home-content .enter-btn:hover {
  background: #ae0001;
  box-shadow: none;
}

/* Home Screen Popup Styles */

.home-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: #e4dfdd;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.home-popup.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.home-popup h2 {
  font-size: 50px;
  text-align: center;
  color: #740001;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0 15px;
  margin-bottom: 10px;
}

.home-popup .info {
  font-size: 16px;
  display: inline-block;
  color: #000;
  font-weight: 500;
  margin: 7px 0;
}

.home-popup .popup-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d3d3d3;
  padding: 15px 0 10px;
  margin-top: 10px;
}

.home-popup .popup-btn-group .info-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #740001;
  border: 2px solid #740001;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.home-popup .popup-btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #740001;
}

.home-popup .popup-btn-group .info-btn:nth-child(1):hover {
  background: #740001;
  color: #fff;
}

.home-popup .popup-btn-group .info-btn:nth-child(2):hover {
  background: #ae0001;
  border-color: #ae0001;
}

/* Quiz Section Styling */

.quiz-section {
  position: relative;
  /* left: -50%; */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0615;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
  z-index: 100;
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #740001;
  border-radius: 6px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #5d5d5d, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: #740001;
    border-radius: 3px;
    padding: 7px;
    height: 42px;
}

/* Timer Section Styling */

.quiz-header .timer {
    color: #fff;
    background: #740001;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 42px;
}

.quiz-header .timer .timer-sec {
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    background: #5d5d5d;
    border: 1px solid #5d5d5d;
}

.quiz-box .time-line {
    bottom: 0px;
    left: 0px;
    margin-bottom: 30px;
    height: 2px;
    background: #00a63d;
}

/* Quiz Question Section Styling */

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #740001;
    padding-top: 20px;
    margin-top: 25px;
} 

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

/* Media Queries For Responsive Navbar */

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 20px 5%;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .home-popup {
    width: 90%;
  }
}
